body {
    font-family: Arial, sans-serif;
}
  
.gradient {
    /* Fallback color */
    background-color: rgb(246, 224, 194);
  
    /* Combine color and texture with background-blend-mode */
    background-image: url('../resources/gallery-background.png');
    background-repeat: repeat; /* Repeat the texture image */
    background-blend-mode: multiply; /* Multiply the texture with the gradient */
}

.containera {
    max-width: 100%;
    margin: 20px auto 100px auto;
    padding: 20px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.image {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out; 
}

.image:active img {
    filter: brightness(115%);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
}

h4 {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
